

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center text-white bg-success py-2"> Product Status Using Service</h2> 
            <app-prod-dashboard></app-prod-dashboard>
        </div>
        <div class="col-md-6">
            <h2 class="text-center text-white bg-warning py-2">Posts Using Service</h2> 
            <p class="alert alert-info text-danger" id="inProgress">Card Edit and delete functionality pending</p>
            <app-posts-dashboard></app-posts-dashboard>
        </div>
    </div>
</div>